<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="patternfull">
            %d{dd-MM HH:mm:ss} [%t] %-5level %logger{2} - %msg%n
        </Property>
        <Property name="patternshort">
            [%t] %-5level %logger{1} - %msg%n
        </Property>
    </Properties>

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/logs.log"
                     filePattern="logs/logs-%d{dd-MM-yyyy}.log">
            <PatternLayout pattern="${patternfull}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternshort}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</Configuration>